<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Order Details</title>
</head>
<body>
    <div align="center">
        <h1>Order Details</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${orders}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                    <td>Order ID:</td>
                    <td>
                        <input type="text" th:field="*{orderId}" readonly="readonly" />
                    </td>
                </tr>        
                <tr>             
                    <td>Area Name:</td>
                    <td>
                        <input type="text" th:field="*{areaList.areaName}" readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <td>Product ID:</td>
                    <td><input type="text" th:field="*{productId}" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td>Vehicle Type:</td>
                    <td><input type="text" th:field="*{vehicleType}" /></td>
                </tr>
               
            </table>
        </form>
    </div>
</body>
</html>