<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Routing System</title>
</head>
<body>
<div align="center">
    <h1>Order List</h1>
    <a href="/new">Create New Order</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Product ID</th>
                <th>Area Name</th>
                <th>Vehicle Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="orders : ${listOrders}">
                <td th:text="${orders.orderId}">Order ID</td>
                <td th:text="${orders.productId}">Product ID</td>
                <td th:text="${orders.areaList.areaName}">Area Name</td>
                <td th:text="${orders.vehicleType}">Vehicle Type</td>
                <td>
                    <a th:href="@{/order_detail/{id}(id=${orders.orderId})}">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>